<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Sandbox Kompomenten Library: </h2>

<ul>
  <li>
    <app-my-click-counter></app-my-click-counter>
  </li>
  <li>
    <app-my-form-keyup-event></app-my-form-keyup-event>
  </li>
  <li>
    <app-my-id-link-clone></app-my-id-link-clone>
  <li>
    <app-my-click></app-my-click>
  </li>
  <li>
    <app-my-list></app-my-list>
  </li>
  <li>
    <app-my-switch></app-my-switch>
  </li>
  <li>
    <app-my-if></app-my-if>
  </li>
  <li>
    <app-my-pipes></app-my-pipes>
  </li>
  <li>
    <app-my-img-thumb></app-my-img-thumb>
  </li>
  <li>
    <app-my-class-binding></app-my-class-binding>
  </li>
  <li>
    <app-my-style-binding></app-my-style-binding>
  </li>
  <li>
    <app-my-own-properties [eigenschaft]="'foo'"></app-my-own-properties>
  </li>
  <li>
    <app-my-input-properties [mitpunkt.eigenschaft2]="'hallo eigenschaft2'"></app-my-input-properties>
  </li>
  <li>
    <app-my-event-emitter (click)="myClickHandlerTriggersEmmiter()"></app-my-event-emitter>
  </li>
  <li>
    <app-my-event-emitter (meinEmitter)="myClickHandlerTriggersEmmiter()"></app-my-event-emitter>
  </li>
  <li>
    <app-video></app-video>
  </li>
  <li>
    <app-video2-inject></app-video2-inject>
  </li>
  <li>
    <app-product></app-product>
  </li>



  <!--
        <li>
          <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
        </li>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
        </li>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
        </li>
  -->

</ul>

